<!-- <form class="form-inline"> -->
  
  <%= form_for @tweet,:html => { :class => "form-inline" } do |f|  %>
    <%= f.text_field :tweet_id %>
    <%= f.submit 'fetch a tweet', class: "btn btn-primary" %>
  <% end %>

<!-- </form> -->

<table id="table">
  <tr>
    <th>Tweets</th>
  </tr>
  <% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.body %></td>

    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td><br />
  </tr>
</table>
  <% end %>
