<%= form_for @tweet do |f| %>
  <%= f.label :tweet_id ,('enter tweet id') %>
  <%= f.text_field :tweet_id %>
  <%= f.submit 'fetch a tweet' %>
<% end %>

<table id="table">
  <tr>
    <th>Tweets</th>
  </tr>
  <% @tweets.each do |tweet| %>
  <tr>
    <td> <%= tweet.body %>  </td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td><br />
  </tr>
</table>
  <% end %>
