
  <div>
    <% if flash[:notice] -%>
        <p id='notice'> <%=h flash[:notice] %> </p>
      <% end %>

  <%= form_for @tweet,:html => { :class => "form-inline" } do |f|  %>

 <% if @tweet.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


  <%= f.text_field :tweet_id, :placeholder=>"enter a tweet_id" %>
    <%= f.submit 'fetch a tweet', class: "btn btn-primary" %>
  <% end %>



<table class="table table-hover">

  <th class="table_head">Tweets</th>
  <th class="table_head">Author</th>
  <th class="table_head">de-tweet</th>
  
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.body %></td>
  
        <td><%= tweet.name %></td>
    
        <td><%= link_to 'de-tweet', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
</table>
</div>
