<!DOCTYPE html>
<html>
<head>
  <title>Catch -A- Tweet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container" >
      <div class="contentWrapper">
        <div class="well well-large">
          <%# = debug(params)%>

    <% if flash[:notice] -%>

        <p id='notice'> <%=h flash[:notice] %> </p>
    
    <% end %>

      <%= yield %>

        </div>
      </div>
    </div>

  </body>
</html>
